<!-- index.handlebars -->
<div class="page-header">
  <h3>welcome</h3>
  <p>Welcome to the cloco café.</p>
</div>

<p>Please select a menu section in the navigation and enjoy the configuration-driven food on offer.</p>
